services:
  - type: web
    name: partyst-api-gateway
    env: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: free
    branch: main
    healthCheckPath: /actuator/health
    autoDeploy: true
    envVars:
      - key: PORT
        value: "10000"
      - key: SPRING_PROFILES_ACTIVE
        value: "prod"
